@using PJ_Source_GV.FunctionSupport
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using System.Security.Claims;
@inject IViewLocalizer Localizer

@{
Layout = "_CustomLayout";
var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<div class="wrapper wrapper-content animated fadeInRight" id="app">
    <app-container></app-container>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
<script src="https://unpkg.com/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

<!-- Component Scripts -->
<script src="~/js/CNTT2/components/evaluation/AppContainer.js"></script>
<script src="~/js/CNTT2/components/evaluation/EvaluationsList.js"></script>
<script src="~/js/CNTT2/components/evaluation/ModalCreateEvaluation.js"></script>
<script src="~/js/CNTT2/components/evaluation/EvaluationForm.js"></script>
<script src="~/js/CNTT2/components/evaluation/SessionModal.js"></script>
<script src="~/js/CNTT2/components/common/ModalConfirmDelete.js"></script>
<script src="~/js/CNTT2/components/common/LoadingSpinner.js"></script>

<script src="~/js/CNTT2/main.js"></script>

<link type="text/css" rel="stylesheet" href="~/js/CNTT2/main.css" />
