@using PJ_Source_GV.FunctionSupport
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using System.Security.Claims;
@inject IViewLocalizer Localizer

@{
    Layout = "_StudentLayout";
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<div class="wrapper wrapper-content animated fadeInRight">
</div>         

